CACHE_INVALIDATION_METRICS_PORT=9106

KAFKA_BROKERS=localhost:29092

REDIS_HOST=localhost
REDIS_PORT=6379

SERVICE_NAME=cache-invalidation-service
LOG_LEVEL=

TRACING_ENABLED=
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
