DB_ROOT_PASSWORD=
DB_NAME=ecommerce
DB_USER=
DB_PASSWORD=

REDIS_PORT=6379

RUSTFS_PORT=9000
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=

# Seed only — remove after first run in production
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=