DB_ROOT_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ecommerce

REDIS_HOST=localhost
REDIS_PORT=6379

RUSTFS_ENDPOINT=http://localhost:9000
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_BUCKET=products

JWT_SECRET=
JWT_EXPIRES_IN=7d

GATEWAY_PORT=3000

ADMIN_SERVICE_PORT=50051
INVENTORY_SERVICE_PORT=50052
CUSTOMER_SERVICE_PORT=50053
