GATEWAY_PORT=3000
CORS_ORIGIN=http://localhost:5173

ADMIN_SERVICE_HOST=localhost
ADMIN_SERVICE_PORT=50051
INVENTORY_SERVICE_HOST=localhost
INVENTORY_SERVICE_PORT=50052
CUSTOMER_SERVICE_HOST=localhost
CUSTOMER_SERVICE_PORT=50053

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_EXPIRES_IN_ADMIN=8h
JWT_EXPIRES_IN_CUSTOMER=24h