INVENTORY_GRPC_PORT=50052

DB_HOST=localhost
DB_PORT=3306
DB_NAME=ecommerce
DB_USER=
DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379

RUSTFS_ENDPOINT=http://localhost:9000
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_BUCKET=products