ADMIN_SERVICE_PORT=50051
INVENTORY_SERVICE_HOST=localhost
INVENTORY_SERVICE_PORT=50052

DB_HOST=localhost
DB_PORT=3306
DB_NAME=ecommerce
DB_USER=ecommerceuser
DB_PASSWORD=localdbpassword

REDIS_HOST=
REDIS_PORT=

SERVICE_NAME=
LOG_LEVEL=

TRACING_ENABLED=
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces

ADMIN_METRICS_PORT=